

* {
  color: white;
}

.sideBarAndBeer {
  display: flex;
  flex-direction: row;
}


.beerContainer {
  display: grid;
  width: 80%;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-left: 10px;
}

.sideBarContainer {
  display: flex;
  font-size: 150%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 10px;
  padding-top: 150px;
  width: 250px;
  height: 2000px;
}

.headerAndSearch {
  text-align: center;
  margin-bottom: 10px;
  width: 90%;
}

.exploreAndBeers {
  display: flex;
  flex-direction: column;
}

.customBeerButton {
  margin-top: 10px;
  padding: 10px;
  color: black;
  width: 200px;
}

button {
  color: black;
}